<h1><%= @player.name %></h1>

<ul>
    <li>Number: <%= @player.number%></li>
    <li>Team: <%= link_to(@player.basketball_team.city_name + " " + @player.basketball_team.team_name, basketball_team_path(@player.basketball_team))%></li>
</ul>

<h5><%= link_to "Edit Player", edit_player_path(@player)%></h5>
<h5><%= link_to "Delete Player", player_path(@player), method: :delete, data: {confirm: "Are you sure you want to delete this?"}%></h5>